* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline-style: none;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #482828;
}

.bmi {
    background-color: aqua;
    padding: 20px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

.bmi h2,
h3 {
    margin-bottom: 1rem;
    color: #0e188b;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.btn {
    margin: 5px;
    padding: 3px 5px;
    border: none;
    outline-style: none;
    cursor: pointer;
    background-color: #007bff;
    border-radius: 5px;
}

.btn2 {
    display: none;
}

.high {
    margin-bottom: 10px;
}

.high input {
    height: 1.5rem;
}

.width {
    margin-bottom: 10px;
}

.width input {
    height: 1.5rem;
}

#bmi-result {
    text-align: left;
}

@media screen and (max-width: 768px) {
    .bmi {
        height: 100vh;
        width: 100%;
    }
}